{% include 'app/base.html' %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Forgot Password Page</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
  <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>

  <script>
      $().ready(function(){

          $("#forgetForm").validate({
          // all the constraints for respective fields
          rules : {
          email : {
              required: true
          },
          secret : {
              required: true
          }
          },
          
              // messages that validate the fields
          messages : {
          email : {
              required:"Please enter your email"
          },
          secret : {
              required: "Please enter your secret code"
          }
          }
          });
          });
        </script>
</head>

<center>
<body>
	<div class="main">
<form action="{% url 'forgotpassword' %}" method="POST" id="forgetForm">
    {% csrf_token %}

		<h2 class="title"><b>Forgot Password</b></h2>

		{% if password %}
        <h4 style="color:green">Your Password Is: {{password}}</h4>
        {% endif %}

        {% if messages %}
        {% for msg in messages %}
        <h3 style="color:red">{{msg}}</h3>
        {% endfor %}
        {% endif %}

		<label class="email">Email</label><br>
		<input class="emailBox" type="text" name="email" /><br>
		<label class="password">Secret</label><br>
		<input class="passBox" type="password" name="secret" /><br>
		<input class="button" type="submit" name="" value="Sign In" />
</form>
	</div>
</body>
</center>
</html>
